<div class="container">
  <div class="card">
    <ngx-i24-circular-progress [option]="darkHtmlOption"></ngx-i24-circular-progress>
  </div>
  <div class="card">
    <ngx-i24-circular-progress [option]="darkCssOption"></ngx-i24-circular-progress>
  </div>
  <div class="card">
    <ngx-i24-circular-progress [option]="darkJsOption"></ngx-i24-circular-progress>
  </div>
</div>
<div class="container light">
  <div class="card">
    <ngx-i24-circular-progress [option]="lightHtmlOption"></ngx-i24-circular-progress>
  </div>
  <div class="card">
    <ngx-i24-circular-progress [option]="lightCssOption"></ngx-i24-circular-progress>
  </div>
  <div class="card">
    <ngx-i24-circular-progress [option]="lightJsOption"></ngx-i24-circular-progress>
  </div>
</div>